%h2
  Edit Menu Form

%div
  =@carte.errors.full_messages.join(' - ')

=form_for(@carte) do |f|
  %div
    = f.label :title
    = f.text_field :title

  %div
    = f.label :subtitle
    = f.text_field :subtitle

  %div
    = f.label :position
    = f.text_field :position

  %div
    = f.submit "Update"

 
